/* ==== COPY THIS TO ALL CSS BEGINN === */


/* Variablen */
:root {
    --black: #403B3B;
    --green: #008000;
    --grey: #EFEFEF;
    --darkgrey: #403B3B;
    --boxshadowPicture: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --boxshadowLine: 0 10px 10px -20px #333;



}

/* FONTS */

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./src/fonts/raleway-v27-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./src/fonts/raleway-v27-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */

}



/* Variablen */
:root {
    --black: #403B3B;
    --green: #008000;
    --grey: #EFEFEF;
    --darkgrey: #403B3B;
    --boxshadowPicture: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --boxshadowLine: 0 10px 10px -20px #333;



}

/* FONTS */



/* === Generelles === */

hr {
    border: none;
    height: 20px;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 10px 10px -20px #333;
    margin: -50px auto 10px;
}

a:link {
    text-decoration: none;
    color: var(--green);
}

/* link pseudo-class, noch nicht besuchter Link */
a:visited {
    text-decoration: none;
    color: var(--green);
}

/* link pseudo-class, schon besuchter Link */
a:hover {
    text-decoration: none;
    color: var(--green);
}

/* dynamic pseudo-class, Benutzer 'hovert' */
a:active {
    text-decoration: none;
    color: var(--green);
}

/* dynamic pseudo-class, Link wird ausgewählt */
a:focus {
    text-decoration: none;
    color: var(--green);
}

/* dynamic pseudo-class, Element akzeptiert Eingaben */


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}




body {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.btnStyle1 {
    /* background-color: var(--green);
    color: white;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--boxshadowPicture);
    border-radius: 5px;
    border: none; */
    background-color: rgb(0,128,1);
    color: white;
    padding: 11px 40px;
    border: none;
    font-size: 16px;
    width: 200px;

}

.btnStyle1:hover {
    /* background-color: #09f309fe; */
    cursor: pointer;
    background-color: rgb(2, 137, 2);
}


/* === Header === */


.headerSticky {
    margin:0;
    padding-right: 12rem;
    padding-left: 12rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid #efefef;
    z-index: 1; /* Weil auf der Startseite bei "Top 3 der Woche" der Header dahinter verschwand.*/
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);

}

.headerLeft {
    display: flex;

}

.headerLeft img {

    height: 80px;
    /* margin-bottom: 5%; */
    object-fit: contain;
}

.headerRight {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-self: flex-end;
}

.headerRight .dropdown {
    display: none;
}

/* Dropdown Button ###########################*/
.dropdown button {
    border-radius: 0;
    margin-right: 16px;
    width: 5rem;
    height: 5rem;
    box-shadow: none;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}


.dropbtn {
    background-color: white;
    color: white;
    /* padding: 16px; */
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


.headerRight a {
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    color: var(--darkgrey);
    font-weight: bold;
    transition: border-bottom 225ms ease-in-out;
}



.headerRight a:hover {
    color: rgb(0,128,1);
    border-bottom: 2px solid rgb(0,128,1);
    transition: border-bottom 225ms ease-in-out;
    cursor: pointer;
}

/* === FOOTER === */


.footer {
    color: rgb(0,128,1);
    width: 100%;
    background-color: #333;
    transition: color 225ms ease-in-out;
    margin: 0;
}

footer a:hover {
    color: white;
    transition: color 225ms ease-in-out;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-bottom: 1rem;
}



.footerContent {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
}


.footerContent img {
    /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6); */
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.footerImages {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}



/* ==== COPY THIS TO ALL CSS *** END *** === */

/* === LANDING PAGE CONTAINER */

.landingPageContainer {
    display: flex;
}

.landingImage {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 100px);
}


.headerArrow {
    position: absolute;
    bottom: 0%;
    width: 100px;
    height: 100px;
    left: 50%;
    right: 50%;
    transform: rotateZ(270deg);

}

.headerArrow a {
    font-size: 5rem;
    text-align: center;
    color: white;
}

.headerArrow a:hover {
    font-size: 5rem;
    color: var(--green)
}

/* === Animation ablauf === */
@keyframes arrowAnimation {
    0% {

        top: 50%;
        left: 50%;
        right: 50%;
        font-size: 0.5rem;
    }

    12.5% {

        bottom: 43.75%;
        left: 50%;
        right: 50%;
        font-size: 1rem;
    }

    25% {

        bottom: 37.5%;
        left: 50%;
        right: 50%;
        font-size: 1.5rem;
    }


    37.5% {

        bottom: 31.25%;
        left: 50%;
        right: 50%;
        font-size: 2rem;
    }

    50% {

        bottom: 25%;
        left: 50%;
        right: 50%;
        font-size: 2.5rem;
    }

    62.5% {

        bottom: 18.75%;
        left: 50%;
        right: 50%;
        font-size: 3rem;
    }


    75% {

        bottom: 12.5%;
        left: 50%;
        right: 50%;
        font-size: 3.5rem;
    }

    87.5% {

        bottom: 8.5%;
        left: 50%;
        right: 50%;
        font-size: 4.375rem;
    }


    100% {

        bottom: 0%;
        left: 50%;
        right: 50%;
        font-size: 5rem;
    }



}



/* === FIRST ROW === */

.mainPageFirstRow{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    padding-left: 12rem;
    padding-right: 12rem;
}

.mainPageFirstRowContentLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 30%; */
    /* margin-left: 5% */
}


.mainPageFirstRow img
{
    object-fit: cover;
}

.mainPageFirstRowContentLeft img{
    /* width: 100%; */
    width: 350px;
    height: 250px;
    border-radius: 9px;

}

.mainPageFirstRowContentRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    /* margin-right: 5%; */
}

.mainPageFirstRowContentRight h2 {
    margin: 2px 0 0 0;
}

a.btnStyle1{
    /* background-color: var(--green);
    color: white;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--boxshadowPicture);
    border-radius: 5px; */
    background-color: rgb(0,128,1);
    color: white;
    padding: 11px 40px;
    border: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
}

.btnStyle1:hover{
    /* background-color: #09f309fe; */
    cursor: pointer;
    background-color: rgb(2, 137, 2);
}

.recipeOfTheMonths{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    padding-left: 12rem;
    padding-right: 12rem;
}

.recipeOfTheMonthsRowContentLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 30%; */
    /* margin-left: 5% */
}


.recipeOfTheMonthsRowContentLeft img
{
    object-fit: cover;
}

.recipeOfTheMonthsRowContentLeft > img{
    /* width: 100%; */
    /* box-shadow: var(--boxshadowPicture); */
    width: 350px;
    height: 250px;
    border-radius: 9px;

}

.recipeOfTheMonthsRowContentRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    /* margin-right: 5%; */
}

.recipeOfTheMonthsRowContentRight h2 {
    margin: 4px 0 0 0;
}



/*=== SLIDE SHOW STYLING ===

/* Slideshow container */
.slideshow-container {
display: flex;
flex-direction: column;

background-color: var(--grey);
position: relative;
padding-left: 12rem;
padding-right: 12rem;
padding-bottom: 1rem;
}

.slideshowContainerLeft>h2 {
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides a {
    width: 100%; /* Damit das Bild darunter auch width: 100% annehmen kann, angepasst an äußeren div */
}

.mySlides img {
    /* box-shadow: var(--boxshadowPicture); */
    object-fit: cover;
    border-radius: 9px;
    height: 300px;
    width: 100%;
}

/* Next & previous buttons */
.prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 12.2%;
}





/* Position the "next button" to the right */
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
    right: 12.1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dotStyleContainer {
    margin-left: auto;
    margin-right: auto;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*  IMPRESSUM */
.impressum {
    padding-left: 12rem;
    padding-right: 12rem;
}

.datenschutz {
    margin-left:12rem;
    margin-right: 12rem;
}

/* Responsiv */

@media screen and (max-width: 1033px) {
    .headerRight_imprint {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .headerSticky {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .mainPageFirstRow{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .slideshow-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .recipeOfTheMonths{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .impressum {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .datenschutz {
        margin-left:5rem;
        margin-right: 5rem;
    }
}

@media screen and (max-width: 800px) {
    .headerSticky {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .mainPageFirstRow{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .slideshow-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .recipeOfTheMonths{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .impressum {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .datenschutz {
        margin-left:2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .headerRight_contact, .headerRight_imprint {
        display: none;
    }

    .rating
    {
        display: none;
    }

    .mainPageFirstRow{

        flex-direction: column;
        align-items: center;

    }

    .mainPageFirstRowContentLeft
    {
        align-items: center;
        margin-left: 0;
        width: 75vw;
    }

    .mainPageFirstRowContentRight{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .recipeOfTheMonths{

        flex-direction: column;
        align-items: center;

    }

    .recipeOfTheMonthsRowContentLeft
    {
        margin-left: 0;
        width: 75vw;
        align-items: center;
    }

    .recipeOfTheMonthsRowContentRight{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    p{
        text-align: center;
    };

}
@media screen and (max-width: 600px) {
    .headerRight_receptOfDay, .headerRight_start {
        display: none;
    }

    h3{
        text-align: center;
    }

    .headerRight .dropdown {
        display: inline;
    }
}
@media screen and (max-width: 500px) {
/* ##### HEADER ##### */
    .headerLeft img {
        width: 7rem;
    }

    .headerRight .headerRight_start {
        display: none;
    }
/* ##### FOOTER ##### */
    .footerRow {
        padding-bottom: 1rem;
    }

    .footerContent h4 {
        margin-bottom: 2px;
    }

    .footerContent img {
        width: 30px;
        height: 30px;
    }

    .footer_rights {
        margin-top: 1px;
    }

    /* ##### START ##### */

    .mainPageFirstRowContentRight h2, .recipeOfTheMonthsRowContentRight h2 {
        font-size: 18px;
    }

    .mainPageFirstRowContentRight p, .recipeOfTheMonthsRowContentRight p {
        font-size: 12px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .headerArrow {
        left: 34%;
        right: 50%;
    }

    .slideshow-container {
        padding-bottom: 21px;
    }

    /* ##### DATA PROTECT ##### */

    .datenschutz h1 {
        font-size: 28px;
    }

    .datenschutz h2 {
        font-size: 22px;
    }

    .datenschutz a {
        font-size: 10px;
    }
}

@media screen and (max-width: 430px) {
    .mainPageFirstRowContentLeft img {
    width: 338px;
    height: 250px;
    }

.recipeOfTheMonthsRowContentLeft > img{
    width: 338px;
    height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .mainPageFirstRowContentLeft img {
    width: 288px;
    height: 250px;
    }

.recipeOfTheMonthsRowContentLeft > img{
    width: 288px;
    height: 250px;
    }
}

@media screen and (max-width: 350px) {
    .mainPageFirstRowContentLeft img {
    width: 260px;
    height: 250px;
    }

.recipeOfTheMonthsRowContentLeft > img{
    width: 260px;
    height: 250px;
    }
}